<h1>Edit Internal record data</h1>

<%= render 'internalap_form' %>
<%#= render 'layouts/back' %>

<div class="text-left">
  <%= link_to 'Discard', "#{description_path}#internalap", class: 'btn btn-success' %>
</div>
