<div class="col-sm-3">
  <h3> Placenta </h3>
  <div><span><strong>Weight: </strong><%=@description.placenta.weight%></span></div>
  <div><span><strong>Placental Weight Ratio: </strong><%= @description.placenta.placental_weight_ratio %></span></div>
</div>

<div class="col-sm-3">
  <h3> Basal-plate </h3>
  <div><span><strong>Basal plate normal: </strong><%=@description.placenta.basal_plate_normal%></span></div>
  <div><span><strong>Normal no maternal vessels normal: </strong><%=@description.placenta.normal_no_maternal_vessels_normal%></span></div>
  <div><span><%=@description.placenta.normal_no_maternal_vessels_normal_specify%></span></div>
  <div><span><strong>Normal no decidua basalis normal: </strong><%=@description.placenta.normal_no_decidua_basalis_normal%></span></div>
  <div><span><%=@description.placenta.normal_no_decidua_basalis_normal_specify%></span></div>
  <div><span><strong>Normal no basalplate other: </strong><%=@description.placenta.normal_no_basalplate_other%></span></div>
</div>

<div class="col-sm-3">
  <h3> Chorionic-plate-and-stem-vessels </h3>
  <div><span><strong>Chorionic plate and stem vessels normal: </strong><%=@description.placenta.chorionic_plate_and_stem_vessels_normal%></span></div>
  <div><span><strong>Normal no acute vasculitis: </strong><%=@description.placenta.normal_no_acute_vasculitis%></span></div>
  <div><span><strong>Normal no thrombosis: </strong><%=@description.placenta.normal_no_thrombosis%></span></div>
  <div><span><strong>Normal no hemorrhagic endovasculosis: </strong><%=@description.placenta.normal_no_hemorrhagic_endovasculosis%></span></div>
  <div><span><strong>Normal no cushion lesions with or without fibrin: </strong><%=@description.placenta.normal_no_cushion_lesions_with_or_without_fibrin%></span></div>
  <div><span><strong>Chorionic plate and stem vessels normal no other: </strong><%=@description.placenta.chorionic_plate_and_stem_vessels_normal_no_other%></span></div>
</div>

<div class="col-sm-3">
  <h3> Chorionic-villi </h3>
  <div><span><strong>Maturation appropriate for gestational age: </strong><%=@description.placenta.maturation_appropriate_for_gestational_age%></span></div>
  <div><span><strong>Maturation no specify: </strong><%=@description.placenta.maturation_no_specify%></span></div>
  <div><span><strong>Chorionic villi and intervillous space normal: </strong><%=@description.placenta.chorionic_villi_and_intervillous_space_normal%></span></div>
  <div><span><strong>Chorionic villi abnormal chronic lymphohistiocytic villitis: </strong><%=@description.placenta.chorionic_villi_abnormal_chronic_lymphohistiocytic_villitis%></span></div>
  <div><span><strong>Chorionic villi abnormal acute intervillositis: </strong><%=@description.placenta.chorionic_villi_abnormal_acute_intervillositis%></span></div>
  <div><span><strong>Chorionic villi abnormal avascular villi: </strong><%=@description.placenta.chorionic_villi_abnormal_avascular_villi%></span></div>
  <div><span><strong>Chorionic villi abnormal other: </strong><%=@description.placenta.chorionic_villi_abnormal_other%></span></div>
</div>

<div class="col-sm-3">
  <h3> Fetal-membranes </h3>
  <div><span><strong>Fetal memberanes normal: </strong><%=@description.placenta.fetal_memberanes_normal%></span></div>
  <div><span><strong>Normal no acute chorioamnionitis: </strong><%=@description.placenta.normal_no_acute_chorioamnionitis%></span></div>
  <div><span><strong>Normal no pigmented macrophages: </strong><%=@description.placenta.normal_no_pigmented_macrophages%></span></div>
  <div><span><strong>Fetal membranes normal no other: </strong><%=@description.placenta.fetal_membranes_normal_no_other%></span></div>
</div>


<div class="col-sm-3">
  <h3> Umbilical-cord </h3>
  <div><span><strong>Vessels: </strong><%=@description.placenta.vessels%></span></div>
  <div><span><strong>Umbillical cord normal: </strong><%=@description.placenta.umbillical_cord_normal%></span></div>
  <div><span><strong>Normal no funisitis: </strong><%=@description.placenta.normal_no_funisitis%></span></div>
  <div><span><strong>Normal no acute vasculitis: </strong><%=@description.placenta.normal_no_acute_vasculitis%></span></div>
  <div><span><strong>Umbillical cord normal no other: </strong><%=@description.placenta.umbillical_cord_normal_no_other%></span></div>
</div>
