<h1>Edit Internal record data</h1>

<%= render '_internalgn_form.html.erb' %>

<%#= render 'layouts/back' %>

<div class="text-left">
  <%= link_to 'Discard', patients_path, class: 'btn btn-success' %>
</div>
