<div class="panel panel-primary">
        <div class="panel-heading">
           <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#Peripheral-nervous-system">Peripheral-nervous-system</a>
           </h4>
        </div>
      <div id="Peripheral-nervous-system" class="panel-collapse collapse in"> 
 <div class="row" style="width:100%">
		  <div class="col-sm-4 drop-down">
		     <%= f.label  :peripheral_nervous_system %><br>
		     <%= f.select :peripheral_nervous_system, [:Normal, :Abnormal, :"Not examined"], { :prompt => "Select One" },{ class: "form-control"} %>
		 </div> 
		 </div>
</div>
</div>
