
   <div class="col-sm-3">
    <h3> Subcutaneous </h3>
<div><span><strong>Fat: </strong><%=@description.internal.fat%></span></div>
<div><span><strong>Hydration: </strong><%=@description.internal.hydration%></span></div>
<div><span><strong>Subcutaneous other: </strong><%=@description.internal.subcutaneous_other%></span></div>
</div>
