<div class="col-sm-3">
  <div class="panel panel-external squarish">
    <div class="panel-heading panel-heading-external small-heading squarish">
      Subcutaneous
    </div>
    <div class="panel-body panel-body-external squarish">
      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Fat : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.external.fat%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Hydration : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.external.hydration%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Subcutaneous_other : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.external.subcutaneous_other%>               
	</div>
      </div>

    </div>
  </div>
</div>
