<div class="container">
<div class="row">
  <div class="col-sm-3">
    <div class="thumbnail">
        <img src="http://www.thepregnancyzone.com/wp-content/uploads/2012/12/stages-of-prenatal-development-pregnancy.jpg" alt="..." style="width: 150px; height: 150px">
          <div class="caption">
            <h3>Prenatal Autopsies</h3>
            <p>This is the text that explains if you are interested in autopsy report of prenatal sample, you should navigate here</p>
            <p><a href="/patients" class="btn btn-primary" role="button">Reports</a> </p>
          </div>
        </div>
  </div>
  <div class="col-sm-3">
        <div class="thumbnail">
          <img src="http://presqueislemaine.gov/files/2014/09/Just-For-Kids-logo.jpg" alt="..." style="width: 150px; height: 150px">
          <div class="caption">
            <h3>Pediatric Autopsies</h3>
            <p>This is the text that explains if you are interested in autopsy report of prenatal sample, you should navigate here</p>
            <p><a href="#" class="btn btn-primary" role="button">Reports</a> </p>
          </div>
        </div>
  </div>
  <div class="col-sm-3">
    <div class="thumbnail">
        <img src="http://www.thepregnancyzone.com/wp-content/uploads/2012/12/stages-of-prenatal-development-pregnancy.jpg" alt="..." style="width: 150px; height: 150px">
          <div class="caption">
		  <h3>Adult (> 18) Autopsies</h3>
            <p>This is the text that explains if you are interested in adult autopsy reports, you should navigate here</p>
            <p><a href="#" class="btn btn-primary" role="button">Reports</a> </p>
          </div>
        </div>
  </div>
  <div class="col-sm-3">
        <div class="thumbnail">
          <img src="http://presqueislemaine.gov/files/2014/09/Just-For-Kids-logo.jpg" alt="..." style="width: 150px; height: 150px">
          <div class="caption">
            <h3>Medico Legal Autopsies</h3>
            <p>This is the text that explains if you are interested in geriatric autopsy report, you should navigate here</p>
            <p><a href="#" class="btn btn-primary" role="button">Reports</a> </p>
          </div>
        </div>
  </div>
</div>
