<h1>Edit Clinico-Pathological summary</h1>

<%= render 'form' %>
<%#= render 'layouts/back' %>

<%= tinymce %>

<div class="text-left">
  <%= link_to 'Discard', patients_path, class: 'btn btn-warning' %>
</div>
