<h1>Editing Body Measurement</h1>

<%= render 'form' %>
<br>
<%= link_to 'Discard', patient_path, class: 'btn btn-success' %>

<%#= link_to 'Show', @body_measurement %> 
<%#= link_to 'Back', body_measurement_path %>
