<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%#= @patient.organ_weight.brain_observed %>
</p>

<%#= link_to 'Edit', edit_patient_path(@patient) %> |
<%#= link_to 'Back', patients_path %>
