<div>
  <h3>Back</h3>
  <table>
    <%
      @names_array = ["Spine","Anus","Other"]
      @prop_array = ["spine","anus","back_other"]
      @specify_array = ["spine_specify","anus_specify",""]
    %>
    <%= render :partial => "external_loop"%>
</table>
</div>

