<div>
  <h3>Dura and sinuses</h3>
  <table>
    <%
      @names_array = ["Epidural space","Dura falx tentorium","Subdural epidural","Venous sinuses","Other","Microscopic description"]
      @prop_array = ["epidural_space","dura_falx_tentorium","subdural_epidural","venous_sinuses","sinuses_other","dura_and_venous_sinuses_md"]
      @specify_array = ["epidural_space_specify","dura_falx_tentorium_specify","subdural_epidural_specify","venous_sinuses_specify","",""]
    %>
    <%= render :partial => "internal_loop"%>
</table>
</div>

