<div>
  <h3>Ears</h3>
  <table>
    <%
      @names_array = ["Position","Shape","Canals","Other"]
      @prop_array = ["position","shape","canals","ears_other"]
      @specify_array = ["","shape_specify","canals_specify",""]
    %>
    <%= render :partial => "external_loop"%>
</table>
</div>

