<div>
  <h3>Extermities</h3>
  <table>
    <%
      @names_array = ["Extermities configuration","Joints","Dermatoglyphics","Other"]
      @prop_array = ["extermities_configuration","joints","dermatoglyphics","extermities_other"]
      @specify_array = ["extermities_configuration_specify","joints_specify","dermatoglyphics_specify",""]
    %>
    <%= render :partial => "external_loop"%>
</table>
</div>

