<div>
  <h3>External Genitalia (Female)</h3>
  <table>
    <%
      @names_array = ["Labia","Clitoris","Vagina and hymen","Urethral meatus","Other"]
      @prop_array = ["labia","clitoris","vagina_hymen","urethral_meatus","genitalia_other"]
      @specify_array = ["labia_specify","clitoris_specify","vagina_hymen_specify","urethral_meatus_specify",""]
    %>
    <%= render :partial => "external_loop"%>
</table>
</div>

