<div>
  <h3>Inguinal Region</h3>
  <table>
    <%
      @names_array = ["Hernia","Palpable lymph nodes","Other"]
      @prop_array = ["hernia","palpable_lymph_nodes","inguinal_other"]
      @specify_array = ["hernia_specify","palpable_lymph_nodes_specify",""]
    %>
    <%= render :partial => "external_loop"%>
</table>
</div>

