<div>
  <h3>External Genitalia (Male)</h3>
  <table>
    <%
      @names_array = ["Penis","Penile length","Bilateral testes identified","Testes size","Testes position"]
      @prop_array = ["penis","penile_length","bilateral_testes_identified","testes_size","testes_position"]
      @specify_array = ["","penile_length_specify","bilateral_testes_identified_specify","testes_size_specify",""]
    %>
    <%= render :partial => "external_loop"%>
</table>
</div>

