<div>
  <h3>Mouth</h3>
  <table>
    <%
      @names_array = ["Lips/Mucosa/Gums","Tongue","Palate / Maxilla / Mandible","Tonsils","Salivary glands","Pharynx","Other"]
      @prop_array = ["lips_mucosa_gums","tongue","palate_maxilla_mandible","tonsils","salivary_glands","pharynx","mouth_other"]
      @specify_array = ["lips_mucosa_gums_specify","tongue_specify","palate_maxilla_mandible_specify","tonsils_specify","salivary_glands_specify","pharynx_specify",""]
    %>
    <%= render :partial => "external_loop"%>
</table>
</div>

