<div>
  <h3>Neck</h3>
  <table>
    <%
      @names_array = ["Configuration","Nodes masses","Other"]
      @prop_array = ["neck_configuration","nodes_masses","neck_other"]
      @specify_array = ["neck_configuration_specify","nodes_masses_specify",""]
    %>
    <%= render :partial => "external_loop"%>
</table>
</div>

