<div>
  <h3>Nose</h3>
  <table>
    <%
      @names_array = ["Position/shape","Nares exudate","Septum","Patency of choanae","Other"]
      @prop_array = ["position_shape","nares_exudate","septum","patency_of_choanae","nose_other"]
      @specify_array = ["position_shape_specify","nares_exudate_specify","septum_specify","patency_of_choanae_specify",""]
    %>
    <%= render :partial => "external_loop"%>
</table>
</div>

