<div>
  <h3>Pericardial sac</h3>
  <table>
    <%
      @names_array = ["Serosal surfaces","Contents","Amount of fluid","Microscopic description"]
      @prop_array = ["serosal_sarfaces","pericardial_sac_contents","pericardial_sac_amount_of_fluid","pericardial_sac_md"]
      @specify_array = ["serosal_sarfaces_specify","pericardial_sac_contents_specify","pericardial_sac_amount_of_fluid_specify",""]
    %>
    <%= render :partial => "internal_loop"%>
</table>
</div>

