<div>
  <h3>Peripheral nervous system</h3>
  <table>
    <%
      @names_array = ["Peripheral nervous system","Microscopic description"]
      @prop_array = ["peripheral_nervous_system","peripheral_nervous_system_md"]
      @specify_array = ["peripheral_nervous_system_specify",""]
    %>
    <%= render :partial => "internal_loop"%>
</table>
</div>

