<div>
  <h3>Spinal cord</h3>
  <table>
    <%
      @names_array = ["Extradural space","Meninges","Cord proper","Microscopic description"]
      @prop_array = ["extradural_space","meninges","cord_proper","spinal_cord_md"]
      @specify_array = ["extradural_space","meninges","cord_proper",""]
    %>
    <%= render :partial => "internal_loop"%>
</table>
</div>

