<div class="container">
<div class="row">
  <div class="col-sm-3">
    <div class="thumbnail">
        <!-- img src="/assets/foetus_icon.jpg" alt="..." style="width: 200px; height: 200px" -->
	<%= image_tag("foetus_icon.jpg", size: "200x200", alt: "Edit Entry") %>
          <div class="caption">
            <h3>Stillbirth/Fetal autopsy </h3>
            <p>Post mortem examination of a stillborn fetus of any gestational age with or without placenta.</p>
            <p><a href="/descriptions" class="btn btn-primary" role="button">Reports</a> </p>
          </div>
        </div>
  </div>
  <div class="col-sm-3">
        <div class="thumbnail">
          <img src="http://presqueislemaine.gov/files/2014/09/Just-For-Kids-logo.jpg" alt="..." style="width: 150px; height: 150px">
          <div class="caption">
            <h3>Pediatric Autopsy</h3>
	    <p>Post mortem examination when the deceased is less then 18 years age at the time of death</p>
            <p><a href="#" class="btn btn-primary" role="button">Reports</a> </p>
          </div>
        </div>
  </div>
  <div class="col-sm-3">
    <div class="thumbnail">
        <img src="http://www.thepregnancyzone.com/wp-content/uploads/2012/12/stages-of-prenatal-development-pregnancy.jpg" alt="..." style="width: 150px; height: 150px">
          <div class="caption">
		  <h3>Adult Autopsy</h3>
		  <p>Post mortem examination when the deceased is more than or equal to 18 years age at the time of death</p>
            <p><a href="#" class="btn btn-primary" role="button">Reports</a> </p>
          </div>
        </div>
  </div>
  <div class="col-sm-3">
        <div class="thumbnail">
          <img src="http://presqueislemaine.gov/files/2014/09/Just-For-Kids-logo.jpg" alt="..." style="width: 150px; height: 150px">
          <div class="caption">
            <h3>Medico Legal Autopsy</h3>
	    <p>Post mortem examination at any age when the suspected manner of death is unnatural</p>
            <p><a href="#" class="btn btn-primary" role="button">Reports</a> </p>
          </div>
        </div>
  </div>
</div>
